FirebaseDemoTestApp/gradle/wrapper/gradle-wrapper.jar
FirebaseDemoTestApp/gradle/wrapper/gradle-wrapper.properties
FirebaseDemoTestApp/gradle.properties
FirebaseDemoTestApp/gradlew
FirebaseDemoTestApp/gradlew.bat
FirebaseDemoTestApp/.idea/codeStyles/Project.xml
FirebaseDemoTestApp/.idea/misc.xml
FirebaseDemoTestApp/.idea/runConfigurations.xml
